.Pickathing {
  position: relative;
  width: 100%; }
  .Pickathing * {
    box-sizing: border-box; }
  .Pickathing + select {
    display: none; }
  .Pickathing-selectedField {
    height: 25px;
    border: 1px solid #ccc;
    padding: 2px 35px 2px 8px;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    transition: all ease .3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 400px; /*tamano del campo input sustituto o el input donde sale search*/
    color: #0a0a0a;
    text-align: left;
    background-color: transparent; }
    .Pickathing-selectedField:before {
      content: '';
      position: absolute;
      top: 8px;
      right: 8px;
      line-height: 35px; }
    .Pickathing-selectedField:hover {
      border: 1px solid #333333;
      text-decoration: none;
      color: #0a0a0a; }
    .Pickathing-selectedField:active, .Pickathing-selectedField:focus {
      text-decoration: none;
      color: #0a0a0a; }
    .Pickathing-selectedField:disabled:hover {
      color: #0a0a0a;
      border: 1px solid #ccc;
      text-decoration: none;
      cursor: not-allowed; }
  .Pickathing-selectedFlag {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    background-color: #ccc;
    padding: 3px 5px;
    float: left; }
  .Pickathing-dropdown {
    position: absolute;
    top: -2px;/*posicion donde se despliega la lista*/
    left: 0;
    width: 80%;
    border: 1px solid #0a0a0a;
    border-radius: 2px;
    padding: 7px;
    background-color: #ffffff;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all ease .2s; }
  .Pickathing-searchField {
    width: 90%;
    border: 1px solid #ccc;
    padding: 4px 6px;
    margin-bottom: 6px; }
  .Pickathing-option {
    cursor: pointer;
    padding: 2px 8px;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent; }
    .Pickathing-option:hover {
      background-color: #ccc; }
    .Pickathing-option:disabled {
      cursor: not-allowed;
      background-color: #bbb;
      text-align: left; }
      .Pickathing-option:disabled:hover {
        background-color: #bbb; }
  .Pickathing-option--selected {
    background-color: #e6e6e6; }
  .Pickathing-list {
    overflow-y: auto;
    max-height: 0;
    transition: all ease .2s; }

.Pickathing--open .Pickathing-dropdown {
  visibility: visible;
  opacity: 1; }

.Pickathing--open .Pickathing-list {
  max-height: 400px; }

.Pickathing--multiple .Pickathing-selectedField {
  min-height: 25px;
  height: auto; }

.Pickathing--multiple .Pickathing-dropdown {
  top: 100%; }
